nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ddd;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

main {
    width: 50%;
    max-width: 800px;
    /* Limita el ancho máximo */
    margin: 0 auto 10px auto;
    /* Centra el contenido horizontalmente */
    padding: 20px;
    font-family: gruppo, Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

main img {
    width: 150px;
    height: auto;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}


aside img {
    width: 200px;
    height: auto;
}

.title-zulia-1 {
    font-size: 40px;
    color: #333;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}